<template name="LogSettings">
  {{#with log}}
    <form class="ui form">
      <div class="field">
        <label>Log Name</label>
        <input type="text" name="logName" placeholder="{{name}}" value="{{name}}">
      </div>
      <h4 class="ui dividing header">Privacy</h4>
        <div class="field">
          <label>Who can see this log?</label>
          <div class="ui selection dropdown">
            <input type="hidden" name="card[type]">
            <div class="default text">Public</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="visa">
                <i class="user icon"></i>
                Private
              </div>
              <div class="item" data-value="amex">
                <i class="users icon"></i>
                Public
              </div>
            </div>
          </div>
        </div>
        <h4 class="ui dividing header">Delete the Log</h4>
        <div class="field">
          <div class="ui left labeled button" tabindex="0">
            <a class="ui basic red label">
              Pressing this button will delete your log forever and ever!
           </a>
            <div class="deleteLog ui icon red fluid button">
              <i class="icon trash"></i>
              Delete
            </div>
          </div>
        </div>
      <button class="ui button" type="submit">
      Submit</button>
    </form>
  {{/with}}
</template>