<template name="LogSettings">
  <div class="log-settings">
    <div class="log-settings-menu">
      {{#linkTo route='log.settings' logId=log._id}}
        <a class="item active">
          Settings
        </a>
      {{/linkTo}}
      {{#linkTo route='log.integrations' logId=log._id}}
        <a class="item">
          Integrations
        </a>
      {{/linkTo}}
    </div>

    {{#with log}}
      <form class="ui form">
        <div class="field">
          <label>Name</label>
          <input type="text" name="logName" placeholder="{{name}}" value="{{name}}">
        </div>
        <div class="field">
          <label>Description</label>
          <input type="text" name="logDescription" placeholder="{{description}}" value="{{description}}">
        </div>
        <div class="field">
          <label>About</label>
          <textarea name="logAbout">{{about}}</textarea>
        </div>
        <h4 class="ui dividing header">Privacy</h4>
          <div class="field">
            <label>Who can see this log?</label>
            <div class="ui selection dropdown">
              <input type="hidden" name="card[type]">
              <div class="default text">Public</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" data-value="visa">
                  <i class="user icon"></i>
                  Private
                </div>
                <div class="item" data-value="amex">
                  <i class="users icon"></i>
                  Public
                </div>
              </div>
            </div>
          </div>
          <h4 class="ui dividing header">Delete the Log</h4>
          <div class="field">
            <div class="ui left labeled button" tabindex="0">
              <a class="ui basic red label">
                Danger zone!
             </a>
              <div class="deleteLog ui icon red fluid button">
                <i class="icon trash"></i>
                Delete
              </div>
            </div>
          </div>
        <button class="ui basic button" type="submit">
        Submit</button>
      </form>
    {{/with}}
  </div>
</template>
