<template name="Menu">
  <div class="menu top-nav">
    <div class="menu-container">
      <div class="nav-container">
        <h2>{{#linkTo route='home'}}Log{{/linkTo}}</h2>
        <div>
          <div class="right-menu">
            {{>SearchBar}}
            {{#if currentUser}}
              <span class="item notifications">
                {{#linkTo route="notifications"}}
                  <i class="icon large outline alarm"></i>
                  {{#if hasNotifications}}
                    <div class="ui floating mini circular red label"></div>
                  {{/if}}
                {{/linkTo}}
              </span>

              <span class="ui dropdown pointing item">
                <div class="text">
                  <img class="ui image avatar" src="{{currentUser.profile.thumb}}">
                  <!-- {{currentUser.profile.firstName}} -->
                </div>
                <div class="menu">
                  <div class="item">
                    {{#linkTo route="user" username=currentUser.username}}
                      Profile
                    {{/linkTo}}
                  </div>
                  <div class="divider"></div>
                  <a class="item" href="#" data-logout>Logout</a>
                </div>
              </span>
            {{else}}
              {{#if loggingIn}}
                Logging in...
              {{else}}
                <a class="item" href="/signin">Login</a>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
