.top-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0px !important;
  z-index: 101;
  height: 60px !important;
  background-color: white !important;
  -webkit-box-shadow: 0px 1px 1px grey;
  -moz-box-shadow: 0px 1px 1px gray;
  box-shadow: 0px 2px 2px rgba(128, 128, 128, 0.2);
  padding-right: 10px;
  padding-left: 10px;
}

.menu-container {
  max-width: 880px;
  margin: 0 auto;
  position: relative;
}

.nav-container {
  margin: 0 auto !important;
  padding: 10px 0px;
  display: inline-block;
  height: 60px;
}

.nav-container h2 a {
  position: absolute;
  top: 14px;
  font-size: 21px;
  color: #bf9ee9;
}

.nav-container .column {
  padding: 10px 10px !important;
}

.notifications .ui.floating.label {
  top: 3px;
  left: 52px;
  height: 9px;
  width: 9px;
  min-width: inherit;
  min-height: inherit;
}

.nav-container .right-menu .icon {
  margin-right: 11px !important;
  font-size: 1.1em;
}

.nav-container .notifications a .icon {
  color: #7d7d7d;
  font-weight: 600;
  top: -1px;
  position: relative;
}

.nav-container .notifications a .icon.alarm {
  top: -1px;
  position: relative;
  margin-right: 13px !important;
}

.menu .pointing {
  z-index: 2;
}

.ui.menu .dropdown.item:hover{
  background: none !important;
}

.dropdown .avatar {
  margin-right: 0px !important;
}

.ui.menu .pointing.dropdown.item .menu {
  margin-top: 1.5em !important;
}

.top-nav .menu {
  left: -23px !important;
}

.header-logo {
  position: absolute;
  width: 100%;
  text-align: center;
}

.header-logo h3 {
  margin-top: 17px;
}

.header-logo a {
  color: #bf9ee9;
}

.right-menu {
  right: 0px;
  top: 15px;
  position: absolute;
}
