.top-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  border-bottom: 2px solid #ebebeb !important;
  margin: 0px !important;
  z-index: 1;
  min-height: 60px !important;
  background-color: #f3faf6 !important;
}

.menu-container {
  width: 880px;
  margin: 0 auto;
  position: relative;
}

.nav-container {
  margin: 0 auto !important;
  padding: 10px 0px;
  display: inline-block;
  height: 60px;
}

.nav-container .column {
  padding: 10px 10px !important;
}

.notifications .ui.floating.label {
  top: 5px;
  left: 8px;
  height: 6px;
}

.menu .pointing {
  z-index: 2;
}

.ui.menu .dropdown.item:hover{
  background: none !important;
}

.dropdown .avatar {
  margin-right: 0px !important;
}

.ui.menu .pointing.dropdown.item .menu {
  margin-top: 1.5em !important;
}

.top-nav .menu {
  left: -23px !important;
}

.header-logo {
  position: absolute;
  width: 100%;
  text-align: center;
}

.header-logo h3 {
  margin-top: 17px;
}

.header-logo a {
  color: #bf9ee9;
}

.right-menu {
  right: 0px;
  top: 13px;
  position: absolute;
}
