<template name="LogsList">
  <div class="log-list">
    <div class="list-header">
      <span>Logs ({{logsCount}})</span>
      {{#linkTo route='log.new'}}
        <span class="new-log">+ New Log</span>
      {{/linkTo}}
    </div>
    <ul>
      {{#each logs}}
        {{#if selectedLog}}
          {{#linkTo route='log' logId=this._id}}
            <li class="selected-log">
                {{this.name}}
            </li>
          {{/linkTo}}
        {{else}}
          {{#linkTo route='log' logId=this._id}}
            <li>
                {{#if unseenMessages}}
                  <strong>{{this.name}}</strong>
                {{else}}
                  {{this.name}}
                {{/if}}
            </li>
          {{/linkTo}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</template>
