.log-list ul {
  margin-left: 0px;
  padding-left: 0px;
}

.log-list li {
  list-style: none;
  padding: 3px 20px;
}

.log-list h3 {
  margin-left: 10px;
  margin-top: 10px;
}

li.selected-log {
  background: rgba(46, 159, 73, 0.10);
  border-radius: 1px;
}

.log-list .list-header {
  color: #9b9b9b;
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}

.log-list .list-header .new-log {
  color: #bf9ee9;
  float: right;
}

.log-list a {
  color: #5e5e5f;
}
