<template name="LogsList">
  {{#if Template.subscriptionsReady}}
    <div class="ui grid ">
      {{#each logs}}
        {{#linkTo route="log" logId=_id}}
          <div class="five column logbox-wrapper">
            <div class="ui segment logbox">
              <div class="extra">
                Progress in
              </div>
              <h3>{{name}}</h3>
              <img class="ui left avatar image" src="http://semantic-ui.com/images/avatar/small/elliot.jpg">
              <img class="ui left avatar image" src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
              <br>
            </div>
          </div>
        {{/linkTo}}
      {{/each}}
    </div>
  {{/if}}
</template>