.logList ul {
  margin-left: 0;
  padding-left: 0;
}

.logList li {
  list-style: none;
  padding-left: 15px;
}

.logList h3 {
  margin-left: 10px;
  margin-top: 10px;
}

li.logonpage {
  background: #eee;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 10px;
  margin-right: 20px;
  border-radius: 5px;
}
