<template name="LogAbout">
  <div class="log-about">
    <h2>{{log.name}}</h2>
    {{#if descriptionOrAbout}}
      <div class="log-description">
        <p>{{log.description}}</p>
      </div>
      <div class="log-summary">
        <p>{{{log.about}}}</p>
      </div>
    {{else}}
      <br>
      <p>No description yet!</p>
    {{/if}}
  </div>

  <div class="log-subscribers">
    <h4>Subscribers {{subscribersCount}}</h4>
    <div class="ui stackable two column grid">
      <div class="column">
        {{#each subscribers}}
          {{#with user}}
            {{#linkTo route="user"}}
              <div class="subscriber">
                <div class="ui list">
                  <div class="item">
                    <img class="ui avatar image" src="{{profile.thumb}}">
                    <div class="content">
                      <span class="header">{{profile.firstName}}
                        {{#if isCreator}}
                          (creator)
                        {{/if}}
                      </span>
                      <div class="description">@{{username}}</div>
                    </div>
                  </div>
                </div>
              </div>
            {{/linkTo}}
          {{/with}}
        {{/each}}
      </div>
    </div>
  </div>
</template>
