<template name="MasterLayout">
  {{> Menu}}
  <div class="main-content">
    {{> yield}}
  </div>
</template>

<template name="Menu">
  <div class="ui secondary text menu master-layout">
    <div class="ui container">
      <a href="/" class="header item">Log</a>
      <div class="searchbar item">
        <div class="ui icon input">
          <input class="search-bar" type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>

      <div class="right menu">
        {{#if currentUser}}
          <div class="item quickMessage">
            <i class="write large icon"></i>
          </div>
          <div class="item notifications">
            {{#linkTo route="notifications"}}
              <i class="icon large outline alarm"></i>
              {{#if hasNotifications}}
                <div class="ui floating red label">  {{unseenNotifications}}
                </div>
              {{/if}}
            {{/linkTo}}
          </div>

          <div class="ui dropdown pointing simple item">
            <div class="text">
              <img class="ui image avatar" src="{{currentUser.profile.thumb}}">
              {{currentUser.profile.firstName}}
            </div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">
                {{#linkTo route="user" username=currentUser.username}}
                  Profile
                {{/linkTo}}
              </div>
              <div class="divider"></div>
              <a class="item" href="#" data-logout>Logout</a>
            </div>
          </div>
        {{else}}
          {{#if loggingIn}}
            Logging in...
          {{else}}
            <a class="item" href="/account">Login</a>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</template>