@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

body {
  width: 100%;
  z-index: 1;
  min-height: 60px !important;
  font-family: 'Source Sans Pro', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif  !important;
  background-color: #f3faf6 !important;
}

body .container{
}

.main-content {
  padding-top: 60px;
  width: 1100px;
  margin: 0 auto;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
}
