<template name="MasterLayout">
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="/" class="header item">Log</a>
      <a href="/now" class="header item">Now</a>
      <div class="right menu">
        {{#if currentUser}}
          {{#linkTo route="user" username=currentUser.username}}

            <a class="item">
              {{currentUser.profile.firstName}}
            </a>
          {{/linkTo}}
          <a class="item" href="#" data-logout>Logout</a>
        {{else}}
          {{#if loggingIn}}
            Logging in...
          {{else}}
            <a class="item" href="/account">Login</a>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="ui main text container" style="margin-top: 7em">
    {{> yield}}
  </div>
</template>
