<template name="Search">
  <div class="ui container search">
    <div>
      <h1>Search results</h1>
      {{#if users}}
        <h3>Users</h3>
        <div class="ui stackable two column grid users">
          {{#each users}}
            <div class="column">
              {{#linkTo route="user"}}
                <div class="ui list">
                  <div class="item">
                    <img class="ui avatar image" src="{{profile.thumb}}">
                    <div class="content">
                      <span class="header">{{profile.firstName}}</span>
                      <div class="description">@{{username}}</div>
                    </div>
                  </div>
                </div>
              {{/linkTo}}
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>

    {{#if logs}}
      <div style="margin-top: 40px;">
        <h3>Logs</h3>
        <div class="ui stackable two column grid logs">
          {{#each logs}}
            {{>LogCard}}
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{#if messages}}
      <div class="ui comments items events-list" style="margin-top: 40px;">
        <h3>Messages</h3>
        <ul>
          {{#each messages}}
            <div class="comment">
              {{> MessagePreview}}
            </div>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
</template>
