<template name="NowPreview">
  <div class="ui comments" style="border: none">
    <div class="comment">
      <a class="avatar">
        <img src="http://photon.hypb.st/hypetrak.com/images/2012/06/kool-ad-300x300.jpg">
      </a>
      <div class="content">
        <a class="author">
          {{#linkTo route='user'}}
            {{user.profile.firstName}}
          {{/linkTo}}
        </a>
        <div class="metadata">
          <span class="date">
              {{timestamp}}
          </span>
        </div>
        <div class="text">
          {{{body}}}
        </div>
      </div>
    </div>
  </div>
</template>



