<template name="NotificationsList">
  <h2>Notifications</h2>
  <div class="notications-panel">
    <ul class="notications-list">
      {{#each notifications}}
        <li class="notication-item {{isPrivateClass}}">
        <!-- Comment notifiation -->
        {{#if this.commentId}}
            <!-- Note comment notification -->
            {{#if this.noteId}}
              {{#if $eq noteUser._id currentUser._id}}
                {{notificationUser.profile.name}} commented on {{#with note }}{{#linkTo route='note'}}your note{{/linkTo}}{{/with}}
              {{else}}
                {{notificationUser.profile.name}} commented on {{#with note }}{{#linkTo route='note'}}{{body}}{{/linkTo}}{{/with}}
              {{/if}}
            {{else}}

            {{/if}}
        {{else}}

        {{/if}}
        </li>
      {{else}}
        <li class="notication-item empty">
          No notifications yet.
        </li>
      {{/each}}
    </ul>
  </div>
</template>
