<template name="Note">
  {{#contentFor "breadcrumbs"}}
    {{#unless isMyNote}}
    <li>
      <!-- {{#linkTo route='user' _id=user._id}} -->
        {{user.profile.name}}
      <!-- {{/linkTo}} -->
      <span class="divider">/</span>
    </li>
    {{/unless}}
    <li class="active">{{subject}}</li>
  {{/contentFor}}

  {{#if get 'isEditing'}}
    <form id="edit-note" class="form edit-note">
      {{> froalaReactive getContext _value=body}}
      <input type="submit" class="btn" value="Save"/>
      {{#linkTo route='note'}}
        Cancel
      {{/linkTo}}
    </form>
  {{else}}
    <p>
      {{{body}}}
    </p>

    {{#if isMyNote}}
      {{#linkTo route='note.edit'}}
        Edit
      {{/linkTo}}
    {{/if}}
  {{/if}}

  {{> CommentsList}}
</template>
