/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/

.mobile-header {
  display: none;
}

.home .log-container {
  margin-top: -15px;
}

.home .events-wrapper {
  padding-top: 25px;
}

@media only screen and (max-width: 736px) {
  .mobile-header {
    display: block;
    border: 1px solid #ebebeb;
    background: white;
    padding: 21px 16px;
    border-top: none;
  }

  .log-main-border .mobile-header {
    position: fixed;
    top: 60px;
    z-index: 100;
    width: 100%;
    height: 46px;
    border-left: none;
    border-right: none;
    padding: 13px 20px;
  }

  .mobile-header h3 {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .home .log-content {
    padding-top: 55px;
  }

  .home .events-wrapper {
    padding-top: 10px !important;
  }
}
