<template name="User">
  <h2 class="ui header">
    <img src="http://photon.hypb.st/hypetrak.com/images/2012/06/kool-ad-300x300.jpg" class="ui circular image">
    {{profile.name}}
  </h2>

  <div class="nows-panel">
    {{#with now}}
      {{{body}}}
      <div>
        {{#linkTo route='now.detail'}}
          {{timestamp}}
        {{/linkTo}}
      </div>
    {{/with}}
  </div>
  <hr>
  <div>
    <ul class="nows-list">
    <h4>History</h4>
      {{#each nows}}
        <li class="now-item">
          {{#linkTo route='now.detail'}}
            {{timestamp}}
          {{/linkTo}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>
