<template name="editUser">
  <div class="ui container">
    <form class="ui form" style="margin-top: 100px">
      {{#with userProfile}}
        <div class="field">
          <label>Username</label>
          <input class="username" type="text" name="username" value="{{username}}"/>
        </div>
        <div class="field">
          <label>First Name</label>
          <input class="first-name" type="text" name="first-name" value="{{profile.firstName}}"/>
        </div>
        <div class="field">
          <label>Last Name</label>
          <input class="last-name" type="text" name="first-name" value="{{profile.lastName}}"/>
        </div>

        {{#if profile.thumb}}
          <img style="margin: 20px; height: 100px; width: 100px; " src="{{profile.thumb}}">
        {{/if}}
      {{/with}}
    </form>
    <div class="user-photo-upload">
          <input type="file" class="file_bag">
          <button class="ui button upload">Upload</button>
          {{#each files}}
            <p>{{percent_uploaded}}</p>
          {{/each}}
        </div>
    <div>
      <button class="ui button save">Save</button>
    </div>
  </div>
</template>
