<template name="User">
  <div class="ui text container">
    {{#with userProfile}}
      <div class="ui items">
        <div class="item">
          <div class="ui tiny circular image">
           <img src="http://photon.hypb.st/hypetrak.com/images/2012/06/kool-ad-300x300.jpg">
          </div>
          <div class="content">
            <h1 class="header">
              {{profile.firstName}}
            </h1>
            <div class="description">
              <p>
              {{#linkTo route='user'}}      
                  @{{username}}
              {{/linkTo}}
              {{#if isMe}}
                {{#linkTo route='user.edit'}}
                  <i class="write square icon"></i>
                {{/linkTo}}
              {{/if}}
              </p>
            </div>
          </div>
        </div>
      </div>
    {{/with}}
    {{#if isMe}}
      {{> CreateMessage}}
    {{/if}}
  </div>
    <div class="ui events grid">
      <div class="ten wide column">
        <h3>What I am doing now!</h3>

        <div class="ui now segment">
          {{>UserNow}}
        </div>

            {{#if isMe}}
            <h4>Embed this now in your website</h4>

            <div class="ui segment codesnippet">
               <div class="ui bottom right attached label nospacelabel copylabel">
                  <button class="ui icon copybutton button">
                    <i class="copy icon"></i>
                  </button>            
              </div>

                    {{{HTMLsnippet}}}
             </div>

            {{/if}}

      </div>
      <div class="six wide column">
        <h3>Log</h3>
        <div class="ui segment">
          {{>EventsList}}
        </div>
      </div>
    </div>
</template>