<template name="SignIn">
  <div class="signin-content">
    <div class="ui stacked segment signin-form">
      <h2>{{#linkTo route='home'}}<span class="purple">Log</span>{{/linkTo}}</h2>
      <div class="ui aligned stackable">
        <div class="ui form signin-elements">
         <form class="signin">
            <div class="field">
              <div class="ui big left icon input">
                <input type="text" placeholder="Email" name="email">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <div class="ui big left icon input">
                <input type="password" placeholder="Password" name="password">
                <i class="lock icon"></i>
              </div>
            </div>
            <button type="submit" class="signinToLog ui basic big button">Login</button>
        </form>
        </div>
      </div>
      {{#linkTo route="signup"}}<span class="orange">Back to sign up?</span>{{/linkTo}}
    </div>
  </div>
</template>
