<template name="UserNow">
 {{#if isMe}}

  <div class="ui top right attached nospacelabel label">
     <div class="ui floated right">
        <div class="ui icon buttons">
          <button class="ui update button">
            update
          </button>


              <a href="{{username}}/now/{{now._id}}">
                <button class="ui button history">
                  <i class="right left icon history"></i>
                </button>
              </a>

        </div>
      </div> 
  </div>

  {{/if}}

  <div class="create-note">
    {{#if isMe}}
      <form id="edit-now" class="form edit-now">
        {{> froalaReactive getContext}}
      </form>
     
      {{else}}
      <h3>What I am doing now!</h3>
      {{{body}}}
    {{/if}}
  </div >



</template>
