/*****************************************************************************/
/* CreateMessage: Style */
/*****************************************************************************/
.create-message {
  position: fixed;
  bottom: 0px;
  height: 53px;
  width: calc(100vw - 200px);
  margin: 0px;
  border-radius: inherit;
  border-top: 1px solid grey;
}

.create-message textarea {
  width: 100%;
  height: 100%;
  border: none;
}

.tagging-wrapper {
  position: absolute;
  bottom: 52px;
  left: -1px;
  padding: 4px;
  background: white;
  border: 1px solid;
}

.user-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.user-list li:hover {
  cursor: pointer;
  color: #f000ff;
}

.ui.segment button {
  position: fixed;
}

.ui.segment .right {
  left: 470px;
}
