/*****************************************************************************/
/* EventsList: Style */
/*****************************************************************************/
.events-list {
  font-size: 1.14285714rem;
  padding-bottom: 69px;
  overflow: auto;
}

.events-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
}

.events-list img {
  max-width: 100%;
}

.image-container {
  position: relative;
}

.image-container {
  height: auto !important;
}

.message-image {
  position: absolute;
  top: 0;
  left: 0;
}

.comment .edit {
  position: absolute;
  top: 0px;
  right: 30px;
}
