<template name="EventsList">
  <div class="events-wrapper">
    <div class="events-list">
      <div class="ui comments items">
        {{#each events}}
          <div class="comment" data-value="{{this._id}}">
            {{#if this.messageId}}
              {{#with message}}
                {{> MessagePreview}}
              {{/with}}
              {{#each files}}
                <div>
                  <div>{{original_name}}</div>
                  <div class="image-container">
                    {{#if width}}
                      {{> Holder}}
                      <img class="message-image" src="{{secure_url}}"/>
                    {{/if}}
                  </div>
                </div>
              {{/each}}
            {{/if}}

            {{#if $eq this.type 'log_created'}}
                {{#with user}}
                  {{#linkTo route='user'}}
                    {{profile.firstName}}
                  {{/linkTo}}
                {{/with}}
                started a log called
                {{#with log}}
                  {{#linkTo route='log' logId=_id}}
                    {{name}}.
                  {{/linkTo}}
                {{/with}}
                <div class="metadata">
                  <span class="date">{{timestamp}}</span>
                  <span class="log-origin">
                    {{#if home}}
                      {{#with log}}
                        {{#linkTo route='log' logId=_id}}
                          <span>
                            <i class="arrow right icon"></i>
                            {{name}}
                          </span>
                        {{/linkTo}}
                      {{/with}}
                    {{/if}}
                  </span>
                </div>
            {{/if}}

            {{#if $eq this.type 'log_updated'}}
              {{#with user}}
                {{#linkTo route='user'}}
                  {{profile.firstName}}
                {{/linkTo}}
              {{/with}}
              updated a log called
              {{#with log}}
                {{#linkTo route='log' logId=_id}}
                    {{name}}.
                {{/linkTo}}
              {{/with}}
              <div class="metadata">
                <span class="date">{{timestamp}}</span>
                <span class="log-origin">
                  {{#if home}}
                    {{#with log}}
                      {{#linkTo route='log' logId=_id}}
                        <span>
                          <i class="arrow right icon"></i>
                          {{name}}
                        </span>
                      {{/linkTo}}
                    {{/with}}
                  {{/if}}
                </span>
              </div>
            {{/if}}

            {{#if $eq this.type 'member_joined_log'}}
              {{#with user}}
                {{#linkTo route='user'}}
                  {{profile.firstName}}
                {{/linkTo}}
              {{/with}}
              has joined
              {{#with log}}
                {{#linkTo route='log' logId=_id}}
                  {{name}}.
                {{/linkTo}}
              {{/with}}
              <div class="metadata">
                <span class="date">{{timestamp}}</span>
                <span class="log-origin">
                  {{#if home}}
                    {{#with log}}
                      {{#linkTo route='log' logId=_id}}
                        <span>
                          <i class="arrow right icon"></i>
                          {{name}}
                        </span>
                      {{/linkTo}}
                    {{/with}}
                  {{/if}}
                </span>
              </div>
            {{/if}}

            {{#if $eq this.type 'member_left_log'}}
              {{#with user}}
                {{#linkTo route='user'}}
                  {{profile.firstName}}
                {{/linkTo}}
              {{/with}}
              has left
              {{#with log}}
                {{#linkTo route='log' logId=_id}}
                  {{name}}.
                {{/linkTo}}
              {{/with}}
              <div class="metadata">
                <span class="date">{{timestamp}}</span>
                <span class="log-origin">
                  {{#if home}}
                    {{#with log}}
                      {{#linkTo route='log' logId=_id}}
                        <span>
                          <i class="arrow right icon"></i>
                          {{name}}
                        </span>
                      {{/linkTo}}
                    {{/with}}
                  {{/if}}
                </span>
              </div>
            {{/if}}
            {{#if $eq this.userId currentUser._id}}
              {{#if $eq hovering this._id}}
                {{#if $neq editing this.messageId}}
                  <button class="ui icon mini button edit" data-value="{{this.messageId}}">
                    <i class="write icon"></i>
                  </button>
                {{/if}}
              {{/if}}
              {{#if $eq editing this.messageId}}
                <button class="save">Save</button>
              {{/if}}
            {{/if}}
          </div>
        {{else}}
          <div class="ui items">
            Nothing here yet!
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
