/*****************************************************************************/
/* EventsList: Style */
/*****************************************************************************/
.events-list {
  font-size: 1.14285714rem;
  padding-bottom: 69px;
  overflow: auto;
}

.events-wrapper {
  padding-top: 60px;
}

.events-list img {
  max-width: 100%;
}

.image-container {
  position: relative;
}

.image-container .ui.image{
  position: none !important;
}

.image-container {
  height: auto !important;
}

.message-image {
  position: absolute;
  top: 0;
  left: 0;
}

.comment .edit {
  position: absolute;
  top: 0px;
  right: 30px;
  margin-top: -10px;
  background: #ffffff !important;
  border: 1px solid #F4F4F4 !important;
}

.log-origin a {
  color: #bf9ee9 !important;
}

.events-list .comment {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 8px !important;
}

.events-list .comment:hover {
  background: #F4F4F4;
}

.ui.comments .comment:first-child {
  padding-top: 0.5em !important;
}
