<template name="EventsList">
  <div class="events-wrapper">
    {{>loader}}
    {{#if Template.subscriptionsReady}}
      <div class="events-list loading-wrapper">
        {{#each events}}
          <div class="ui items">
            {{#if this.messageId}}
              {{#with message}}
                {{> MessagePreview}}
              {{/with}}
            {{/if}}

            {{#if $eq this.type 'log_created'}}
              {{#with user}}
                {{#linkTo route='user'}}
                  {{profile.firstName}}
                {{/linkTo}}
              {{/with}}
              started a log called
              {{#with log}}
                {{#linkTo route='log' logId=_id}}
                  {{name}}.
                {{/linkTo}}
              {{/with}}

              {{timestamp}}
            {{/if}}

            {{#if $eq this.type 'log_updated'}}
              {{#with user}}
                {{#linkTo route='user'}}
                  {{profile.firstName}}
                {{/linkTo}}
              {{/with}}
              updated his log called
              {{#with log}}
                {{#linkTo route='log' logId=_id}}
                    {{name}}.
                {{/linkTo}}
              {{/with}}
              {{timestamp}}
            {{/if}}

            {{#if $eq this.type 'member_joined_log'}}
              {{#with user}}
                {{#linkTo route='user'}}
                  {{profile.firstName}}
                {{/linkTo}}
              {{/with}}
              has joined
              {{#with log}}
                {{#linkTo route='log' logId=_id}}
                  {{name}}.
                {{/linkTo}}
              {{/with}}
              {{timestamp}}
            {{/if}}

            {{#if $eq this.type 'member_left_log'}}
              {{#with user}}
                {{#linkTo route='user'}}
                  {{profile.firstName}}
                {{/linkTo}}
              {{/with}}
              has left
              {{#with log}}
                {{#linkTo route='log' logId=_id}}
                    {{name}}.
                {{/linkTo}}
              {{/with}}
              {{timestamp}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</template>
