<template name="EventsList">
  {{> loader}}


  {{#if Template.subscriptionsReady}}

  <div class="events-list loading-wrapper">
    {{#each events}}
      <div class="ui items">
        {{#if this.messageId}}
          {{#with message}}
            {{> MessagePreview}}
          {{/with}}
        {{/if}}
        
        {{#if this.nowId}}
          {{#with now}}
            {{>NowPreview}}
          {{/with}}
        {{/if}}


        {{#if $eq this.type 'log_created'}}
          {{#with user}}
            {{#linkTo route='user'}}
              {{profile.firstName}}
            {{/linkTo}}
          {{/with}}
          started a
          {{#linkTo route='log' _id=this.logId}}
            log.
          {{/linkTo}}
          {{timestamp}}
        {{/if}}

      </div>
    {{/each}}
  </div>
  {{/if}}
  

</template>
