<template name="LogsGrid">
  {{#if Template.subscriptionsReady}}
    <div class="ui grid ">
      {{#each publicLogs}}
          <div class="eight wide two wide computer column">
            {{#linkTo route="log" logId=_id}}
              <div class="ui segment">
                <h3>{{name}}</h3>
                <div class="contributors">
                  <img class="ui left avatar image" src="http://semantic-ui.com/images/avatar/small/elliot.jpg">
                  <img class="ui left avatar image" src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
                </div>
              </div>
            {{/linkTo}}
          </div>
      {{/each}}
      {{#if isMe}}
        {{#each privateLogs}}
          <div class="eight wide two wide computer column">
            {{#linkTo route="log" logId=_id}}
              <div class="ui segment">
                <h3>{{name}}<i class="lock icon"></i></h3>
                <img class="ui left avatar image" src="http://semantic-ui.com/images/avatar/small/elliot.jpg">
                <img class="ui left avatar image" src="http://semantic-ui.com/images/avatar/small/stevie.jpg">
                <br>
              </div>
            {{/linkTo}}
          </div>
        {{/each}}
      {{/if}}
    </div>
  {{/if}}
</template>
