<template name="MessagePreview">
  <a class="avatar">
    {{#if $eq service 'github'}}
      <img src="https://a.slack-edge.com/ae7f/plugins/github/assets/service_512.png">
    {{else}}
      {{#if $eq service 'trello'}}
        <img src="https://freeter.io/embedding-web-apps/project-management/trello.png">
      {{else}}
        {{#if user.profile.thumb}}
          <img class="user" src="{{user.profile.thumb}}">
        {{else}}
          <img src="http://www.absoluteempowerment.com/attachments/Image/Fibonnaci/46ab1714c5db5c1a987f6041d8f16117.jpg">
        {{/if}}
      {{/if}}
    {{/if}}
  </a>
  <div class="content">
    <a class="author">
      {{#if $eq service 'github'}}
        Github
      {{else}}
        {{#if $eq service 'trello'}}
          Trello
        {{else}}
          {{#with user}}
            {{#linkTo route='user'}}
              {{profile.firstName}}
            {{/linkTo}}
          {{/with}}
        {{/if}}
      {{/if}}
    </a>
    <div class="metadata">
      <span class="date">{{timestamp}}</span>
    </div>
    <div class="text">
      {{#if content}}
        {{{content}}}
      {{/if}}
      {{#if $eq service 'github'}}
        {{> GithubMessage}}
      {{/if}}
      {{#if $eq service 'trello'}}
        {{> TrelloMessage}}
      {{/if}}
    </div>
  </div>
</template>
