<template name="MessagePreview">
  <div class="ui comments" style="border: none">
    <div class="comment">
      <a class="avatar">
        <img src="http://photon.hypb.st/hypetrak.com/images/2012/06/kool-ad-300x300.jpg">
      </a>
      <div class="content">
        <a class="author">
          {{#linkTo route='user'}}
            {{user.profile.firstName}} 
          {{/linkTo}} 
        </a>
        <div class="metadata">
          <span class="date">{{timestamp}}</span>
        </div>
        <div class="text">
          {{#if content}}
            {{{content}}}
          {{/if}}
          {{#if $eq type 'github'}}
            GH—
            {{#if data.comment}}
              {{data.sender.login}} <a href="{{data.comment.html_url}}">commented</a> on 
            {{/if}}
            {{#if data.issue}}
              an issue.
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>


