<template name="MessagePreview">
  <div class="ui comments" style="border: none">
    <div class="comment">
      <a class="avatar">
        {{#with user}}
          {{#if $eq service 'github'}}
            <img src="https://a.slack-edge.com/ae7f/plugins/github/assets/service_512.png">
          {{else}}
            {{#if profile.thumb}}
              <img src="{{profile.thumb}}">
            {{else}}
              <img src="http://www.absoluteempowerment.com/attachments/Image/Fibonnaci/46ab1714c5db5c1a987f6041d8f16117.jpg">
            {{/if}}
          {{/if}}
        {{/with}}
      </a>
      <div class="content">
        <a class="author">
          {{#if $eq service 'github'}}
            Github
          {{else}}
            {{#with user}}
              {{#linkTo route='user'}}
                {{profile.firstName}}
              {{/linkTo}}
            {{/with}}
          {{/if}}
        </a>
        <div class="metadata">
          <span class="date">{{timestamp}}</span>
        </div>
        <div class="text">
          {{#if content}}
            {{{content}}}
          {{/if}}
          {{#if $eq service 'github'}}
            {{> GithubMessage}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
