<template name="LogInfo">
  <div class="log-info">
    {{#with log}}
      <h3>
        <i class="icon sidebar toggle-menu"></i>
        {{#linkTo route='log' logId=this._id}}{{name}}{{/linkTo}}
      </h3>
      <div class="description">{{description}}</div>
      <div class="options">
        {{#linkTo route='log.about' logId=this._id}}ABOUT{{/linkTo}}
        {{#if joined}}
          <a href="#" class="ui leaveLog subscribe">UNSUBSCRIBE</a>
        {{else}}
          <a href="#" class="ui joinLog subscribe">SUBSCRIBE</a>
        {{/if}}
      </div>
      {{#if currentUser}}
        {{#linkTo route='log.settings' logId=this._id}}
          <i class="icon setting"></i>
        {{/linkTo}}
      {{/if}}
    {{/with}}
  </div>
</template>
