<template name="LogInfo">
  <div class="log-info">
    {{#with log}}
      <h3>
        {{name}}
      </h3>
      <div>{{description}}</div>
      <div class="options">
        {{#linkTo route='log.about' logId=this._id}}
          <a>ABOUT</a>
        {{/linkTo}}
        {{#if joined}}
          <a href="#" class="ui leaveLog">UNSUBSCRIBE</a>
        {{else}}
          <a href="#" class="ui joinLog">SUBSCRIBE</a>
        {{/if}}
      </div>
      {{#if currentUser}}
        {{#linkTo route='log.settings' logId=this._id}}
          <i class="icon setting"></i>
        {{/linkTo}}
      {{/if}}
    {{/with}}
  </div>
</template>
