<template name="LogEdit">
  <div class="log-content">
    <br><br><br><br>
    {{#linkTo route='log.settings' logId=log._id}}
      <a class="item">
        Settings
      </a>
    {{/linkTo}}
    {{#linkTo route='log.integrations' logId=log._id}}
      <a class="item">
        Integrations
      </a>
    {{/linkTo}}

    {{#if this.settings}}
      {{>LogSettings}}
    {{/if}}
    {{#if this.integrations}}
      {{>LogIntegrations}}
    {{/if}}
    {{#if this.integration}}
      {{>LogIntegration}}
    {{/if}}
  </div>
</template>
