<template name="UserEdit">
  <div class="ui container">
    <form class="ui form" style="margin-top: 100px">
      {{#with userProfile}}
        <div class="field">
          <label>Username</label>
          <input class="username" type="text" name="username" value="{{username}}"/>
        </div>
        <div class="field">
          <label>First Name</label>
          <input class="first-name" type="text" name="first-name" value="{{profile.firstName}}"/>
        </div>
        <div class="field">
          <label>Last Name</label>
          <input class="last-name" type="text" name="first-name" value="{{profile.lastName}}"/>
        </div>

        <div class="field">
          <label>Quick Bio</label>
          <textarea rows="2" class="bio" type="text" name="bio">{{profile.bio}}</textarea>
        </div>
      {{/with}}

      {{#if uploadedUserPhoto}}
        <img style="margin: 20px; height: 100px; width: 100px; " src="{{uploadedUserPhoto.secure_url}}">
      {{else}}
        {{#if userProfile.profile.thumb}}
          <img style="margin: 20px; height: 100px; width: 100px; " src="{{userProfile.profile.thumb}}">
        {{/if}}
      {{/if}}
    </form>
    <div class="user-photo-upload">
      {{#if errorMessage}}
        <div class="ui violet message">
          {{errorMessage}}
        </div>
      {{/if}}
      <input type="file" class="file_bag">
    </div>
    <div>
      <button class="ui button save">Save</button>
    </div>
  </div>
</template>
