<template name="Log">
  <div class="log-container">
    <div class="sidebar">
      {{>LogsList}}
    </div>
    <div class="log-content">
      <div class="log-header">
    <!--     {{#with owner}}
          {{#linkTo route='user'}}
            <a class="section">{{username}}</a>
          {{/linkTo}}
        {{/with}} -->
        <!-- <i class="right chevron icon divider"></i> -->
        {{#linkTo route='log' logId=this._id}}
          <a class="section">{{name}}</a>
        {{/linkTo}}

        {{#if currentUser}}
          {{#linkTo route='log.edit' logId=this._id}}
            <i class="icon setting"></i>
          {{/linkTo}}
        {{/if}}

        {{#if joined}}
          <button class="ui button leaveLog"> Leave </button>
        {{else}}
          <button class="ui button joinLog"> Join </button>
        {{/if}}
      </div>
      <h4>Log</h4>
      {{>EventsList}}
      <br>
      {{#if joined}}
        {{>CreateMessage}}
      {{/if}}
    </div>
  </div>
</template>
