.log-left-column {
  padding: 0 5px !important;
  display: inline-block;
  position: fixed;
  width: 320px;
}

.log-main-column {
  width: 700px;
}

.log-main-border {
  border: 1px solid #CCC;
  background: white;
  margin-left: 320px;
  width: 100%;
}

.log-container {
  max-width: 1000px;
  margin: 0 auto;
}
