.log-left-column {
  padding-right: 15px !important;
  display: inline-block;
  position: fixed;
  width: 290px;
}

.log-main-column {
  width: 700px;
}

.log-main-border {
  border: 1px solid #ebebeb;
  background: white;
  margin-left: 300px;
  width: 580px;
}

.log-container {
  max-width: 880px;
  margin: 0 auto;
}

.log-content {
  min-height: calc(100vh - 62px);
}

.log-left-column {
  margin-top: 43px;
}
