<template name="Log">
  <div class="log-container">
    <div class="log-left-column">
      {{>LogInfo}}
      {{>LogSidebar}}
    </div>
    <div class="log-main-column">
      <div class="log-main-border">
        {{#if this.messages}}
          <div class="log-content" data-tab="messages">
            {{>EventsList}}
            <br>
            {{#if joined}}
              {{>CreateMessage}}
            {{/if}}
          </div>
        {{/if}}

        {{#if this.files}}
          {{>LogFiles}}
        {{/if}}

        {{#if this.overview}}
          {{>LogOverview}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
