<template name="NowHistory">
  
          <div>{{timestamp}}</div>

  <div class="ui two top attached buttons">
    <div class="ui previousNow button">Back</div>
    <div class="ui followingNow button">Forward</div>
  </div>
  <div class="ui attached segment">
      <div class="ui items">
        <div class="now item">
          <div class="content">
            <div>
              
                <p>
                  {{{body}}}
                </p>

                
            </div>
          </div>
        </div>
      </div>

  </div>


</template>