.log-integrations {
  padding: 55px 21px;
}

.log-integrations .service {
  border-radius: 5px;
  height: 100px;
  text-align: center;
}

.log-integrations .service span {
  color: #333;
}

.log-integrations .service span::first-letter {
  text-transform: uppercase;
}